@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap');
html, body{
    font-family: 'Montserrat', sans-serif;
    background: #2d5904;
    color: #c9d05e;
    scroll-behavior: smooth;
}
a{text-decoration: none;}

/*navbar*/
#navbar a {
color: #c9d05e;
font-weight: bold;
}
#navbar img {
float: left;
height: 100px;
border-radius: 50%;

}
#navbar ul{
    list-style: none;
    text-transform: uppercase;
    float: right;
}
#navbar ul li{
    float: left;
}
#navbar ul li a{
    display: block;
    padding: 20px;
    text-align: center;
    
}
#navbar ul li a:hover {
background: #4b0100;
}
/*Home*/
#home {
    text-align: center;
    display: inline;
}
#home img{
    height: 400px;
    padding: 25px;
    background: #c9d05e;
}

/*quienes somos*/
#nosotros{
    padding: 25px;
}
#foto1{
    text-align: center;
    background: #c9d05e;
}
/*sobre el evento*/
#sobre-el-evento{
    padding: 25px;
}
#sobre-el-evento img{
    text-align: center;
    background: #c9d05e;
}
/*registro*/
#registro{
    padding: 20px;
    
}
.form-registro{
   padding: 30px;
    
}
form .form-group {
    margin-bottom: 0.8rem;
}
form .form-control{
    display:flex;
    width: 45%;
    padding: 0.375rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 25px; 
    margin-top: 2px;
}
.btn{
    display:block ;
    font-size: 15px;
    padding: 14px 23px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 25px;
    margin-top: 12px;
}
/*pronostico del tiempo*/
#pronostico-del-tiempo{
    padding: 25px;
}
#clima{
    width: 30rem;
    text-align: center;
    border: 2px solid #4b0100;
    padding: 40px;
}
#clima ul{
    list-style: none;
}
#clima ul li{
    padding: 18px;
    
}
#pronostico-del-tiempo img{
    height: 100px;
    width: 100px;
}
#icon{
    float: left;
    
}
#paisaje{
    float: right;
}

/*contacto*/
#contacto{
    padding: 25px;
}
#contacto img{
    height: 150px;
}
#top h1{
    color: #c9d05e;
    text-align: center;
}
#top a h1:hover{
    background: #4b0100;
}