@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap');
html, body{
    font-family: 'Montserrat', sans-serif;
    background: #42855B;
    color: #D2D79F;
    scroll-behavior: smooth;
}
a{text-decoration: none;}
/*navbar*/
#navbar a {
color: #D2D79F
}
#navbar img {
float: left;
height: 100px;
}
#navbar ul{
    list-style: none;
    text-transform: uppercase;
    float: right;
}
#navbar ul li{
    float: left;
}
#navbar ul li a{
    display: block;
    padding: 20px;
    text-align: center;
}
#navbar ul li a:hover {
background: #483838;
}
/*Home*/
#home {
    text-align: center;
    display: inline;
}
#home img{
    height: 400px;
    padding: 25px;
    background: #90B77D;
}

/*quienes somos*/
#foto1{
    text-align: center;
    background: #90B77D;
}
/*sobre el evento*/
#sobre-el-evento img{
    text-align: center;
    background: #90B77D;
}
/*registro*/

/*pronostico del tiempo/*

/*contacto*/
#contacto img{
    height: 150px;
}
#top h1{
    color: #D2D79F;
    text-align: center;
}
#top a h1:hover{
    background: #483838;
}